<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Client details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="useForm" (ngSubmit)="updateClient()">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder="Digite seu nome" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Digite seu email" />
        </mat-form-field>
        <div class="form-container">
          <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" placeholder="Digite seu CPF" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input
              type="date"
              matInput
              formControlName="birthdate"
              placeholder="Digite sua data de nascimento"
            />
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button id="editButton" type="button" matButton="tonal" (click)="enableInputs()">
            Edit
          </button>
          <button type="submit" id="updateButton" matButton="tonal">Update</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
